
<title>Elements</title>

<div ng-controller="elementsController" data-ng-init="init()">

    <div class="panelHeaderSezioneCustom text-center">
        <label class="font14">ELEMENTS</label>
    </div>

    <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}" ng-show="!caricamentoCompletato">
        <div class="containerLoader">
            <div class="loader"></div>
        </div>
    </div>

    <div class="panelBodySezioneCustom" ng-show="caricamentoCompletato">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="15%" class="text-center">
                        <span class="buttonSort" ng-click="sortType = 'id'; sortReverse = !sortReverse;" title="Ordina per ID">
                            <i class="glyphicon glyphicon-sort"></i> ID
                        </span>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon customHeaderTableOrdinaCerca" ng-click="sortType = 'descrizione'; sortReverse = !sortReverse;" title="Ordina per descrizione"><i class="glyphicon glyphicon-sort"></i></span>
                            <input class="input-sm width100 colorBlack" type="text" ng-model="search.descrizione" placeholder="Descrizione"/>
                        </div>
                    </th>
                    <th width="15%" class="text-center">
                        <div class="input-group">
                            DATA
                        </div>
                    </th>
                    <th width="15%" class="text-center">
                        <button class="btn btn-success btn-sm" ng-click="recuperaElemento(-1)" title="Inserisci nuovo elemento"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
                        <button class="btn btn-danger btn-sm" ng-click="elimina(-1)" title="Elimina tutti gli elementi"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in elements | orderBy:sortType:sortReverse | filter:search">
                    <td class="text-center">{{e.id}}</td>
                    <td>{{e.descrizione}}</td>
                    <td>{{e.date | formatDate}}</td>
                    <td class="text-center">
                        <button class="btn btn-info btn-sm" ng-click="recuperaElemento(e.id)" title="Modifica elemento"> <i class="fa fa-pencil" aria-hidden="true"></i> </button>
                        <button class="btn btn-danger btn-sm" ng-click="elimina(e.id)" title="Elimina elemento"> <i class="fa fa-remove" aria-hidden="true"></i> </button>
                    </td>
                </tr>
            </tbody>
            <tfoot  ng-if="gestisciElemento">
                <tr>
                    <td class="text-right"> <label> Descrizione:</label> </td>
                    <td> <input type="text" class="form-control" ng-model="element.descrizione"> </td>
                    <td> <input type="date" class="form-control" ng-model="element.date"> </td>
                    <td class="text-center">
                        <button class="btn btn-success btn-sm" ng-if="element.descrizione.length > 0" ng-click="salva()"> <i class="fa fa-floppy-o" aria-hidden="true"></i> </button>
                        <button class="btn btn-warning btn-sm" ng-click="annulla()" title="Annulla inserimento"> <i class="fa fa-remove" aria-hidden="true"></i> </button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
