<!doctype html>
<html ng-app="mapApp">
<head>
    <title>Milano</title>
    <meta charset="ISO-8859-1">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=it"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="lib/ng-map.min.js"></script>
    <script type="text/javascript" src="map2Controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/map2.css">
</head>
<body>
<div ng-controller="map2Controller">
    <div class="container p-5">
        <h1 class="text-center">Milano</h1>
        <div class="jumbotron p-3">
            <ng-map class="height60" center="[{{geopos.lat}}, {{geopos.lng}}]" zoom-control="true" zoom="8"  on-click="setPosition()">
                <marker ng-repeat="c in cities" position="{{c.pos}}" title="{{c.name}}" id="{{c.id}}" icon="{{c.icon}}" on-click="showInfo({{c}})"></marker>
            </ng-map>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Latitude</span></div>
                    <input type="text" class="form-control" placeholder="Latitude" ng-model="geopos.lat" disabled>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Longitude</span></div>
                    <input type="text" class="form-control" placeholder="Longitude" ng-model="geopos.lng" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info" ng-click="getCurrentPosition()">Get Current Position</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
