<!DOCTYPE html>
<html>
<head>
    <!--import lib css js-->
    <link rel="import" href="../grafica/header.html">
    <!--import controller-->
    <script type="text/javascript"  src="homeController.js"></script>
    <script type="text/javascript"  src="anagrafica/anagraficaController.js"></script>
    <script type="text/javascript"  src="anagrafica/locatoriController.js"></script>
    <script type="text/javascript"  src="unitaImmobiliare/unitaImmobiliareController.js"></script>
    <script type="text/javascript"  src="contratto/contrattoController.js"></script>
</head>

<body ng-app="affittiApp"  ng-controller="homeController">

    <div ng-class="{'sidebarOpened' : visible, 'sidebarClosed' : !visible}">
        <div id="containerAnagrafica" class="card">
            <div class="card-header panelHeaderSezioneCustom">
                <span class="card-link pointer" ng-click="includePage('anagrafica','anagrafica')">
                     <i class="fa fa-address-book-o" aria-hidden="true"></i>
                     Anagrafica
                </span>
            </div>
            <div id="sezioniAnagrafica" ng-show="import.indexOf('anagrafica') > -1 ">
                <ul class="list-group padding0">
                    <li class="list-group-item pointer padding0" ng-click="includePage('anagrafica','locatori')">
                        Locatori
                    </li>
                    <li class="list-group-item pointer padding0" ng-click="includePage('anagrafica','conduttori')">
                        Conduttori
                    </li>
                </ul>
            </div>
        </div>
        <div id="containerUnitaImmobiliari" class="card">
            <div class="card-header panelHeaderSezioneCustom">
                <span class="collapsed card-link pointer" ng-click="includePage('unitaImmobiliare','unitaImmobiliare')">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Unit&agrave; immobiliari
                </span>
            </div>
        </div>
        <div id="containerContratto" class="card">
            <div class="card-header panelHeaderSezioneCustom">
                <span class="collapsed card-link pointer" ng-click="includePage('contratto','contratto')">
                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    Contratto
                </span>
            </div>
        </div>
        <div id="sezioniContratto" ng-show="import.indexOf('contratto') > -1 ">
            <ul class="list-group padding0">
                <li class="list-group-item pointer padding0" ng-click="includePage('contratto','contratto1')">
                    Contratto 1
                </li>
                <li class="list-group-item pointer padding0" ng-click="includePage('contratto','contratto2')">
                    Contratto 2
                </li>
            </ul>
        </div>
    </div>

    <div ng-class="{'contentPart' : visible, 'contentFull' : !visible}">
        <button class="btn" ng-click="mostraMenu()">
            <i ng-class="{'fa fa-angle-double-left' : visible, 'fa fa-angle-double-right' : !visible}" aria-hidden="true"></i>
        </button>

        <!--
         pagina: variabile di scope contente la pagina da includere
         ng-init: attiva l'ng-include al termine della funzione, in getPageIncluded definisco quale sarà la variabile 'pagina' poi la importo
         -->
        <ng-include src="import" ng-init="getPageIncluded()"></ng-include>
    </div>

</body>
</html>