<!DOCTYPE html>
<html ng-app="mapApp">
<head>
    <title>Map 2</title>
    <meta charset="ISO-8859-1">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=it"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="controllerMap2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/map2.css">
</head>
<body>
<div ng-controller="map2Controller" data-ng-init="init()">
    <div class="container p-5">
        <h1 class="text-center">map 2</h1>
        <div class="jumbotron p-3">
            <div id="map" class="map"></div>
            <div class="container text-center">
                <button class="btn btn-sm btn-outline-dark m-3" ng-repeat="m in markers | orderBy : 'name'" ng-click="openInfoWindow($event, m)">{{m.title}}</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>