
<title>Home</title>

<div ng-controller="cruscottoController" data-ng-init="init()">

    <div class="panelHeaderSezioneCustom text-center">
        <label class="font14">HOME</label>
    </div>

    <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}" ng-show="!caricamentoCompletato">
        <div class="containerLoader">
            <div class="loader"></div>
        </div>
    </div>

    <div class="panelBodySezioneCustom" ng-show="caricamentoCompletato">

        <div class="container height75vh overflowAuto" ng-if="elencoPost.length > 0">
            <div class="flex marginT20" ng-repeat="p in elencoPost">
                <div class="width10">
                    <img ng-src="{{urlFotoProfilo + p.foto}}" err-src="{{urlFotoProfiloDefault}}" alt="Foto profilo" width="100%">
                </div>
                <div class="width90 paddingLR10">
                    <label class="floatL marginT5 font16">{{p.nominativo}}</label>
                    <span class="containerDate" title="Data pubblicazione"> <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; {{p.data_pubblicazione | formatDate}} </span>
                    <ng-gauge ng-if="p.numeroVoti > 0" size="28" type="full" thick="2" min="0" max="5" value="p.votoMedio" cap="round" duration="500"
                              thresholds="thresholdVote" class="floatR helper marginR20" ng-attr-title="Valutazione media post ({{p.numeroVoti}} voti)">
                    </ng-gauge>
                    <textarea class="form-control width100" rows="2" ng-model="p.testo"></textarea>
                    <div class="marginT5">
                        <ng-rate-it ng-model="p.valutazione.valutazione" step="1" rated="valutaPost(p.valutazione)"></ng-rate-it>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger text-center width35 col-md-offset-4 marginT20 font16" role="alert" ng-if="!elencoPost.length > 0">
            <strong>Attenzione!</strong> Ancora nessun post da visualizzare.
        </div>

    </div>

</div>