<h1>ARTCOLO 1</h1>
<p>{{articolo1.titolo}}</p>
<p>{{articolo1.autore}}</p>
<p>{{articolo1.testo}}</p>
<p>{{articolo1.pagine}}</p>
<p>
	Voti: {{articolo1.likes}}
	<button (click)="incrementaApprezzamenti(articolo1)" >Mi piace</button>
</p>

<h1>ARTCOLO 2</h1>
<p>{{articolo2.titolo}}</p>
<p>{{articolo2.autore}}</p>
<p>{{articolo2.testo}}</p>
<p>{{articolo2.pagine}}</p>
<p>
	Voti: {{articolo2.likes}}
	<button (click)="incrementaApprezzamenti(articolo2)" >Mi piace</button>
</p>

<h1>ARTCOLO 3</h1>
<p>
	<input type="text" [(ngModel)]="articolo3.titolo" />
	{{articolo3.titolo}}
</p>
<p>
	<input type="text" [(ngModel)]="articolo3.autore" />
	{{articolo3.autore}}
</p>
<p>
	<input type="number" [(ngModel)]="articolo3.pagine" />
	{{articolo3.pagine}}
</p>