<div class="container-fluid">
<div class="row">
	<div class="col-6">
		<div class="pl-5">
		<h1>ARTCOLO 1</h1>
		<p>{{articolo1.titolo}}</p>
		<p>{{articolo1.autore}}</p>
		<p>{{articolo1.testo}}</p>
		<p>{{articolo1.pagine}}</p>
		<p>
			Voti: {{articolo1.likes}}
			<button (click)="incrementaApprezzamenti(articolo1)" >Mi piace</button>
		</p>
		</div>
		<!--
		<h1>ARTCOLO 2</h1>
		<p>{{articolo2.titolo}}</p>
		<p>{{articolo2.autore}}</p>
		<p>{{articolo2.testo}}</p>
		<p>{{articolo2.pagine}}</p>
		<p>
			Voti: {{articolo2.likes}}
			<button (click)="incrementaApprezzamenti(articolo2)" >Mi piace</button>
		</p>
		-->
	</div>
	<div class="col-6">
		<ul>
			<li *ngFor="let articolo of elencoArticoli">
				<span *ngIf="articolo.pagine > 5">
					<b>{{articolo.titolo}}</b> di {{articolo.autore}}
				</span>
			</li>
		</ul>
	</div>
</div>
	

<articolo-form (submit)="addArticolo($event)"></articolo-form>