<div class="container ">
	<table class="table">
		<thead>
			<th>Titolo</th>
			<th>Autore</th>
			<th>Testo</th>
			<th>Pagine</th>
			<th>Likes</th>
			<th><button class="btn btn-sm btn-success" (click)="gestisciArticolo()">new</button></th>
		</thead>
		<tbody>
			<tr *ngFor="let art of elencoArticoli">
				<td>{{art.titolo}}</td>
				<td>{{art.autore}}</td>
				<td>{{art.testo}}</td>
				<td>{{art.pagine}}</td>
				<td>{{art.likes}}</td>
				<td><button class="btn btn-sm btn-warning" (click)="gestisciArticolo(art)">modify</button></td>
			</tr>
		</tbody>
	</table>
</div>
	
<gestione-articolo *ngIf="mostraGestioneArticolo" [articolo]="articolo"></gestione-articolo>