.background-light {
    background-color: #feefec;
}
.containerLogo{
    background-color: #fdefed !important;
    border: 1px solid #515b62;
    border-radius: 5px;
}
.baseColor { background-color: #e6492c !important; }

#containerMostraMenu {
    background-color: #e6492c;
}
.mostraMenu {
    background-color: #c92c0f;
}
.primoLivello {
    background-color: #e6492c !important;
}
.primoLivello:hover {
    background-color: #f3725a !important;;
}
.horizontalBar{
    background-color: #e6492c !important;
}
.loader {
    border-top: 30px solid #e6492c;
}
.horizontalBarButton {
    background-color: #e6492c !important;
}
.table-hover > tbody > tr:hover {
    background-color: #fdefed;
}
.panelHeaderCruscottoCustom{
    background-color: #e6492c !important;
}
.bigBtn:hover {
    background-color: #fff2f2 !important;
    border-color: #e6492c !important;
}

.tooltip > .tooltip-inner {border: 1px solid #e6492c; color: #e6492c; background-color: #fffbfb}
.tooltip > .tooltip-arrow {color: #e6492c; background-color: #fffbfb}
.tooltip.top .tooltip-arrow {
    border-top-color: #e6492c !important;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #e6492c !important;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #e6492c !important;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #e6492c !important;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #e6492c !important;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #e6492c !important;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #e6492c !important;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #e6492c !important;
}
