.background-light {
    background-color: #edf5ff;
}
.containerLogo{
    background-color: #edf5ff !important;
    border: 1px solid #515b62;
    border-radius: 5px;
}
.baseColor { background-color: #1c6d81 !important; }

#containerMostraMenu {
    background-color: #0083a9;
}
.mostraMenu {
    background-color: #006380;
}
.primoLivello {
    background-color: #0083a9 !important;;
}
.primoLivello:hover {
    background-color: #7cccd4 !important;;
}
.horizontalBar{
    background-color: #0083a9 !important;
}
.loader {
    border-top: 30px solid #0083a9;
}
.horizontalBarButton {
    background-color: #0083a9 !important;
}
.table-hover > tbody > tr:hover {
    background-color: #eaf1fa;
}
.panelHeaderCruscottoCustom{
    background-color: #0083a9 !important;
}
.bigBtn:hover {
    background-color: #f1f6ff !important;
    border-color: #0083a9 !important;
}

.tooltip > .tooltip-inner {border: 1px solid #006380; color: #006380; background-color: #f8f7ff}
.tooltip > .tooltip-arrow {color: #006380; background-color: #f8f7ff}
.tooltip.top .tooltip-arrow {
    border-top-color: #006380 !important;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #006380 !important;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #006380 !important;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #006380 !important;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #006380 !important;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #006380 !important;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #006380 !important;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #006380 !important;
}
