<!DOCTYPE html>
<html ng-app="mapApp">
<head>
    <title>Europa</title>
    <meta charset="ISO-8859-1">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=it"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/utility.js"></script>
    <script type="text/javascript" src="map1Controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/map1.css">
</head>
<body>
<div ng-controller="map1Controller" data-ng-init="init()">
    <div class="container p-5">
        <h1 class="text-center">Europa</h1>
        <div class="input-group w-25">
            <div class="input-group-prepend"><label class="input-group-text" for="mapType">Map Type: </label></div>
            <select id="mapType" class="custom-select" ng-options="type for type in ['roadmap','satellite','hybrid','terrain']" ng-model="type" ng-change="map.setMapTypeId(type)"></select>
        </div>
        <div class="jumbotron p-3">
            <div id="map" class="map"></div>
            <div class="container">
                <div class="row">
                    <input type="text" class="form-control w-25" ng-model="search.name" placeholder="Search..">
                    <button class="btn btn-sm btn-outline-dark m-1" ng-repeat="c in cities | filter:search as filtered" ng-click="openInfoWindow(c)">{{c.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>