<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scarica PDF</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="http://canvg.github.io/canvg/canvg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/canvg/1.4.0/canvg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/SlexAxton/messageformat.js/v1.0.2/messageformat.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.16.0/angular-translate.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-interpolation-messageformat/2.16.0/angular-translate-interpolation-messageformat.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-cookie/2.16.0/angular-translate-storage-cookie.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-local/2.16.0/angular-translate-storage-local.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-url/2.16.0/angular-translate-loader-url.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-static-files/2.16.0/angular-translate-loader-static-files.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-handler-log/2.16.0/angular-translate-handler-log.js"></script>
    <script src="script.js"></script>
    <script>

        function startPrintProcess(canvasObj, fileName, callback) {
            var pdf = new jsPDF('L', 'mm', [210, 297]);

                pdfConf = {
                    pagesplit: true,
                    background: '#fff'
                };

            document.body.appendChild(canvasObj); //appendChild is required for html to add page in pdf
            pdf.addHTML(canvasObj, 10, 10, pdfConf, function() {
                document.body.removeChild(canvasObj);
                pdf.addPage();
                pdf.save(fileName + '.pdf');
                callback();
            });
        }

        $(document).ready(function(){
            $("#print-btn").click(function(){
                html2canvas(document.getElementById('dom-to-print'), {
                    onrendered: function(canvasObj) {
                        startPrintProcess(canvasObj, 'printedPDF',function (){
                            console.log('PDF saved');
                        });
                    }
                });
            });
        });

    </script>

</head>
<body ng-app="dscApp"  ng-controller="moduloNoleggioController">

    <div id='dom-to-print' class="card">
        <div class="card-header text-center panelHeaderSezioneCustom">
            <h3 translate>{{'titoloPagina'|translate}}</h3>
            <button class="btn" ng-click="changeLanguage('it')" translate="lingua_IT"></button>
            <button class="btn" ng-click="changeLanguage('en')" translate="lingua_EN"></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn" ng-click="scaricaPDF()" alt="pdf" title="Scarica PDF">scarica JsPDF</button>
        </div>
        <div id="panelModuloNoleggio" class="card-block panelBodySezioneCustom">
            <div id="containerDatiPersonali" class="card-header panelHeaderSottoSezioneCustom text-center">
                <span>{{'titoloSezioneDatiPersonali'|translate}}</span>
            </div>
            <div class="card-body panelBodySottoSezioneCustom">
                <div class="row">
                    <div class="form-group col-12 form-inline">
                        <div class="col-2 text-right">
                            <span>{{'labelNome'|translate}}:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-4" autocomplete="off">
                        <div class="col-2 text-right">
                            <span>{{'labelCognome'|translate}}:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-4" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 form-inline">
                        <div class="col-2 text-right" ng-show="ita">
                            <span >Codice fiscale:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-4" autocomplete="off" ng-show="ita">
                        <div class="col-2 text-right">
                            <span translate>{{'labelIndirizzo'|translate}}:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-4" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 form-inline">
                        <div class="col-2 text-right">
                            <span>{{'labelDataNascita'|translate}}:</span>
                        </div>
                        <div class="col-2 form-inline padding0">
                            <input list="giornoNascitaList" type="number" class="form-control form-control-sm col-4" min="1" max="31" placeholder="DD" />
                            <datalist id="giornoNascitaList">
                                <option ng-repeat="g in giorni" value="{{g}}">
                            </datalist>
                            <input list="meseNascitaList" type="number" class="form-control form-control-sm col-4" min="1" max="12" placeholder="MM" />
                            <datalist id="meseNascitaList">
                                <option ng-repeat="m in mesi" value="{{m}}">
                            </datalist>
                            <input list="annoNascitaList" type="number" class="form-control form-control-sm col-4" min="1930" max="{{currentYear}}" placeholder="YY" />
                            <datalist id="annoNascitaList">
                                <option ng-repeat="a in anni" value="{{a}}">
                            </datalist>
                        </div>
                        <div class="col-2 text-right">
                            <span>{{'labelLuogoNascita'|translate}}</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-2" autocomplete="off" placeholder="{{'labelLuogoNascitaDett'|translate}}">
                        <div class="col-3 text-right">
                            <span>{{'labelAltezza'|translate}}</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-1" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 form-inline">
                        <div class="col-2 text-right">
                            <span>{{'labelTelefono'|translate}}:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-2" autocomplete="off">
                        <div class="col-2 text-right">
                            <span>{{'labelCellulare'|translate}}:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-2" autocomplete="off">
                        <div class="col-2 text-right">
                            <span>{{'labelEmail'|translate}}:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm col-2" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn" id='print-btn'>scarica HTML2canvas</button>
        </div>
    </div>

</body>
</html>