
<title>Profilo</title>

<div ng-controller="profiloController" data-ng-init="init()">

    <div class="panelHeaderSezioneCustom text-center">
        <label class="font14">PROFILO</label>
    </div>

    <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}" ng-show="!caricamentoCompletato">
        <div class="containerLoader">
            <div class="loader"></div>
        </div>
    </div>

    <div class="panelBodySezioneCustom" ng-show="caricamentoCompletato">

        <div class="container-fluid margin0">

            <div class="col-md-10">

                <div class="panel panel-default" ng-show="showModificaDati">
                    <div class="panel-heading text-center">
                        MODIFICA DATI UTENTE
                        <button class="btn btn-danger btn-sm floatR" ng-click="gestioneDatiProfilo()" title="Chiudi"> <i class="fa fa-remove" aria-hidden="true"></i> </button>
                    </div>
                    <div class="panel-body text-center">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">Nome:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="name" type="text" ng-model="datiUtente.nome">
                                </div>
                                <label class="col-sm-2 control-label" for="surname">Cognome</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="surname" type="text" ng-model="datiUtente.cognome">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="date">Data di Nascita:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="date" type="date" ng-model="datiUtente.data_nascita">
                                </div>
                                <label class="col-sm-2 control-label">Sesso:</label>
                                <div class="col-sm-3">
                                    <input type="radio" ng-model="datiUtente.sesso" value="M"> <span class="marginR20"> M </span>
                                    <input type="radio" ng-model="datiUtente.sesso" value="F"> <span> F </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="date">Foto Profilo:</label>
                                <div class="col-sm-8">
                                    <label class="btn btn-default floatL marginB20">
                                        <input type="file" nv-file-select="" uploader="uploader" accept="image/*"/>
                                        <i class="fa fa-upload"></i> Carica immagine
                                    </label>

                                    <table class="table table-bordered" ng-show="uploader.queue.length > 0">
                                        <thead>
                                        <tr>
                                            <th width="50%" class="text-center">Nome</th>
                                            <th class="text-center" ng-show="uploader.isHTML5">Dimensione</th>
                                            <th class="text-center" ng-show="uploader.isHTML5">Caricamento</th>
                                            <th class="text-center">Stato</th>
                                            <th class="text-center">Azioni</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td class="text-center" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} kB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress marginB0">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok green"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove red"></i></span>
                                            </td>
                                            <td nowrap class="text-center">
                                                <button type="button" class="btn btn-success" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Carica
                                                </button>
                                                <button type="button" class="btn btn-danger marginL20" ng-click="item.remove()"  ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-trash"></span> Rimuovi
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                            <div class="row text-center">
                                <button class="btn btn-success" ng-click="salvaDatiUtente()"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Salva</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading text-center">LA TUA SEZIONE</div>
                    <div class="panel-body text-center">
                    </div>
                </div>

            </div>


            <div class="col-md-2">

                <div class="panel panel-default">
                    <div class="panel-heading text-center">SCHEDA UTENTE</div>
                    <div class="panel-body text-center">
                        <img ng-src="{{urlFotoProfilo + utente.foto}}" err-src="{{urlFotoProfiloDefault}}" class="img-rounded" alt="Foto profilo" width="50%">
                        <div class="row marginT20">
                            <span class="col-md-3 text-center"> <button class="btn btn-sm" title="Utente"> <i class="fa fa-user" aria-hidden="true"></i> </button> </span>
                            <span class="col-md-9"> {{utente.nome}} {{utente.cognome}} </span>
                            <span ng-if="utente.nome == '' && utente.cognome == ''"> Nome Utente</span>
                        </div>
                        <div class="row marginT5">
                            <span class="col-md-3 text-center">
                                <button class="btn btn-sm bgBlue colorWhite" ng-if="utente.sesso == 'M' " title="Sesso"> <i class="fa fa-mars" aria-hidden="true"></i> </button>
                                <button class="btn btn-sm bgPink colorWhite" ng-if="utente.sesso == 'F' " title="Sesso"> <i class="fa fa-venus" aria-hidden="true"></i> </button>
                            </span>
                            <span class="col-md-9"> {{utente.sesso}} </span>
                        </div>
                        <div class="row marginT5">
                            <span class="col-md-3 text-center"> <button class="btn btn-sm" title="Data di nascita"> <i class="fa fa-calendar" aria-hidden="true"></i> </button> </span>
                            <span class="col-md-9"> {{utente.data_nascita | formatDate}} </span>
                            <span ng-if="utente.data_nascita == ''"> Data di nascita</span>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-default" ng-click="gestioneDatiProfilo()"> <i class="fa fa-pencil" aria-hidden="true"></i> Modifica </button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
