
<title>Relazioni</title>

<div ng-controller="relazioniController" data-ng-init="init()">

    <div class="panelHeaderSezioneCustom text-center">
        <label class="font14">RELAZIONI</label>
        <button ng-if="mostraAmici" class="btn btn-default padding3-6 floatR" ng-click="gestioneAmici()">
            <i class="fa fa-user-plus" aria-hidden="true"></i> Cerca Amici
        </button>
        <button ng-if="!mostraAmici" class="btn btn-default padding3-6 floatR" ng-click="gestioneAmici()">
            <i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;I tuoi Amici
        </button>
    </div>

    <div class="text-center" ng-class="{'backgroundLoaderPart' : visible, 'backgroundLoaderFull' : !visible}" ng-show="!caricamentoCompletato">
        <div class="containerLoader">
            <div class="loader"></div>
        </div>
    </div>

    <div class="panelBodySezioneCustom" ng-show="caricamentoCompletato">

        <div class="container-fluid margin0">

            <div class="col-md-12">

                <!-- ====================================== SEZIONE AMICI ========================================== -->

                <div class="panel panel-default" ng-if="mostraAmici">
                    <div class="panel-heading text-center">
                        I TUOI AMICI
                        <div class="floatR" ng-if="richiesteAmiciziaInAttesa.length > 0">
                            <label>Nuove richieste: </label>
                            <button class="btn btn-danger btn-sm helper"  data-toggle="modal" data-target="#modalRichiesteAmicizia" title="Nuove richieste di amicizia"> <i class="fa fa-bell" aria-hidden="true"></i> {{richiesteAmiciziaInAttesa.length}}</button>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <div class="row">

                            <div class="col-md-6 text-center">

                                <div class="marginT20" ng-if="elencoAmici.length > 0">
                                    <div class="input-group">
                                        <span class="input-group-addon customHeaderTableOrdinaCerca" ng-click="sortType = 'nominativo'; sortReverse = !sortReverse;" title="Ordina per descrizione"><i class="glyphicon glyphicon-sort"></i> Nominativo:</span>
                                        <input class="input-sm width100 colorBlack" type="text" ng-model="search.nominativo" placeholder="Nome Cognome"/>
                                    </div>
                                    <table class="table table-hover table-condensed marginT5">
                                        <tbody>
                                        <tr ng-repeat="a in elencoAmici | orderBy:sortType:sortReverse | filter:search">
                                            <td width="20%"> <img ng-src="{{urlFotoProfilo + a.foto}}" err-src="{{urlFotoProfiloDefault}}" class="img-rounded" alt="Foto profilo" width="75px"> </td>
                                            <td>{{a.nominativo}}</td>
                                            <td width="20%"> <button class="btn btn-danger btn-sm" ng-click="rimuovi(a.id, 1)" title="Rimuovi amicizia"> <i class="fa fa-remove" aria-hidden="true"></i> </button> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="modal fade" id="modalRichiesteAmicizia" role="dialog">
                                <div class="modal-dialog width35 floatR marginR20">
                                    <!-- Modal content-->
                                    <div class="modal-content marginT50">
                                        <div class="modal-header baseColor">
                                            <button type="button" class="btn btn-danger floatR" data-dismiss="modal">X</button>
                                            <h4 class="modal-title text-center colorWhite">RICHIESTE DI AMICIZIA</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group">
                                                <span class="input-group-addon customHeaderTableOrdinaCerca" ng-click="sortType = 'nominativo'; sortReverse = !sortReverse;" title="Ordina per descrizione"><i class="glyphicon glyphicon-sort"></i> Nominativo:</span>
                                                <input class="input-sm width100 colorBlack" type="text" ng-model="search.nominativo" placeholder="Nome Cognome"/>
                                            </div>
                                            <table class="table table-hover table-condensed marginT5">
                                                <tbody>
                                                <tr ng-repeat="ra in richiesteAmiciziaInAttesa | orderBy:sortType:sortReverse | filter:search">
                                                    <td width="20%"> <img ng-src="{{urlFotoProfilo + ra.foto}}" err-src="{{urlFotoProfiloDefault}}" class="img-rounded" alt="Foto profilo" width="75px"> </td>
                                                    <td>{{ra.nominativo}}</td>
                                                    <td width="20%"> <button class="btn btn-success btn-sm" ng-click="accetta(ra.id)" title="Accetta amicizia"> <i class="fa fa-check-square" aria-hidden="true"></i> </button> </td>
                                                </tr>
                                                </tbody>
                                            </table>  
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ======================================= CERCA AMICI =========================================== -->

                <div class="panel panel-default" ng-if="!mostraAmici">
                    <div class="panel-heading text-center">
                        CERCA NUOVI AMICI
                    </div>
                    <div class="panel-body text-center">
                        <div class="row">

                            <div class="col-md-6 text-center" >
                                <button class="btn btn-success padding3-6 marginR20" ng-click="cercaAmici()" ng-disabled="filtraRicercaAmici"> <i class="fa fa-search" aria-hidden="true"></i> Cerca Tutti</button>
                                <button class="btn btn-info padding3-6" ng-click="filtraRicerca()"> <i class="fa fa-filter" aria-hidden="true"></i> Filtra Ricerca</button>

                                <div class="form-horizontal marginT20" ng-show="filtraRicercaAmici">
                                    <div class="form-group form-inline">
                                        <label class="col-sm-3 text-right" for="name">Nome:</label>
                                        <div class="col-sm-8 "> <input class="form-control width100" id="name" type="text" ng-model="find.nome"> </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-3 text-right" for="surname">Cognome:</label>
                                        <div class="col-sm-8 "> <input class="form-control width100" id="surname" type="text" ng-model="find.cognome"> </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-3 text-right">Et&agrave;:</label>
                                        <div class="col-sm-8 ">
                                            <rzslider rz-slider-model="find.etaDa"
                                                      rz-slider-high="find.etaA"
                                                      rz-slider-options="slider.options">
                                            </rzslider>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <button class="btn btn-success padding3-6 marginR20" ng-click="cercaAmici('F')"> <i class="fa fa-search" aria-hidden="true"></i> Cerca</button>
                                        <button class="btn btn-danger padding3-6" ng-click="annullaFiltraRicerca()"> <i class="fa fa-remove" aria-hidden="true"></i> Annulla</button>
                                    </div>
                                </div>

                                <div class="marginT20" ng-if="ricercaAmici.length > 0">
                                    <div class="input-group">
                                        <span class="input-group-addon customHeaderTableOrdinaCerca" ng-click="sortType = 'nominativo'; sortReverse = !sortReverse;" title="Ordina per descrizione"><i class="glyphicon glyphicon-sort"></i> Nominativo:</span>
                                        <input class="input-sm width100 colorBlack" type="text" ng-model="search.nominativo" placeholder="Nome Cognome"/>
                                    </div>
                                    <table class="table table-hover table-condensed marginT5">
                                        <tbody>
                                            <tr ng-repeat="a in ricercaAmici | orderBy:sortType:sortReverse | filter:search">
                                                <td width="20%"> <img ng-src="{{urlFotoProfilo + a.foto}}" err-src="{{urlFotoProfiloDefault}}" class="img-rounded" alt="Foto profilo" width="75px"> </td>
                                                <td>{{a.nominativo}}</td>
                                                <td width="20%"> <button class="btn btn-success btn-sm" ng-click="aggiungiAmico(a)" title="Aggiungi agli amici"> <i class="fa fa-plus" aria-hidden="true"></i> </button> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <label class="marginT20" ng-if="ricercaRichiesteAmiciziaInAttesa.length > 0"> AMICI CHE ASPETTANO UNA TUA RISPOSTA:</label>
                                <div class="marginT5" ng-if="ricercaRichiesteAmiciziaInAttesa.length > 0">
                                    <div class="input-group">
                                        <span class="input-group-addon customHeaderTableOrdinaCerca" ng-click="sortType = 'nominativo'; sortReverse = !sortReverse;" title="Ordina per descrizione"><i class="glyphicon glyphicon-sort"></i> Nominativo:</span>
                                        <input class="input-sm width100 colorBlack" type="text" ng-model="search.nominativo" placeholder="Nome Cognome"/>
                                    </div>
                                    <table class="table table-hover table-condensed marginT5">
                                        <tbody>
                                            <tr ng-repeat="a in ricercaRichiesteAmiciziaInAttesa | orderBy:sortType:sortReverse | filter:search" class="bgLightRed">
                                                <td width="20%"> <img ng-src="{{urlFotoProfilo + a.foto}}" err-src="{{urlFotoProfiloDefault}}" class="img-rounded" alt="Foto profilo" width="75px"> </td>
                                                <td>{{a.nominativo}}</td>
                                                <td width="20%"> <button class="btn btn-success btn-sm" ng-click="accetta(a)" title="Accetta amicizia"> <i class="fa fa-check-square" aria-hidden="true"></i> </button> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                            <div class="col-md-6 text-center">
                                <button class="btn btn-warning padding3-6" ng-click="richiesteInAttesa()"> <i class="fa fa-clock-o" aria-hidden="true"></i> Richieste in Attesa</button>

                                <div class="marginT20" ng-if="richiesteEffettuateInAttesa.length > 0">
                                    <div class="input-group">
                                        <span class="input-group-addon customHeaderTableOrdinaCerca" ng-click="sortType = 'nominativo'; sortReverse = !sortReverse;" title="Ordina per descrizione"><i class="glyphicon glyphicon-sort"></i> Nominativo:</span>
                                        <input class="input-sm width100 colorBlack" type="text" ng-model="search.nominativo" placeholder="Nome Cognome"/>
                                    </div>
                                    <table class="table table-hover table-condensed marginT5">
                                        <tbody>
                                        <tr ng-repeat="r in richiesteEffettuateInAttesa | orderBy:sortType:sortReverse | filter:search">
                                            <td width="20%"> <img ng-src="{{urlFotoProfilo + r.foto}}" err-src="{{urlFotoProfiloDefault}}" class="img-rounded" alt="Foto profilo" width="75px"> </td>
                                            <td>{{r.nominativo}}</td>
                                            <td width="20%"> <button class="btn btn-danger btn-sm" ng-click="rimuovi(r.id, 0)" title="Rimuovi richiesta"> <i class="fa fa-remove" aria-hidden="true"></i> </button> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>