/*---------------------------------------------------- FONT ----------------------------------------------------------*/
@font-face {
    font-family: myFirstFont;
    src: url(SansationLight.woff);
}
*{font-family: myFirstFont}

.fontFoot{
    font-size: 1rem;
    vertical-align: -webkit-baseline-middle;
    color: #e9ecef;
    display: -webkit-inline-box;
}

.titleCode{
    font-size: 1.12em;
}

@media only screen and (max-width: 600px) {
    .titleCode{
        font-size: 0.8em;
    }
}

.cit{
    font-size: 2rem;
    color: #f8f9fa;
    text-align: center;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .cit{
        font-size: 1.3rem;
    }
}

/*----------------------------------------------------- BODY ---------------------------------------------------------*/
html, body{
    margin: 0;
    padding: 0;
    background-color: #212529
}

.head{
    font-size: 1.8rem;
    padding: 1rem;
    background-color: #e9ecef;
    text-align: center;
}

.foot{
    text-align: center!important;
    padding: 0.3rem;
    background-color: #212529
}

.lightContainer {
    background-color: #f0f8ff78;
    padding: 10px;
}

.fakeimg {
    height: 200px;
    background: #aaa
}

/*---------------------------------------------------- CONTAINER -----------------------------------------------------*/
.dataBodyContainer {
    background-color: #518492;
    height: 80vh;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../img/texture/skulls.png');
    background-repeat: repeat;
}

.dataBodyView {
    padding: 10px;
    width: 100%;
    display: block;
}

.dataBodyView.ng-animate {
    transition: all ease 0.5s;
    position: absolute
}

.dataBodyView.ng-enter {
    left: 200px;
    opacity: 0
}

.dataBodyView.ng-leave,
.dataBodyView.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1
}

.dataBodyView.ng-leave.ng-leave-active {
    left: -200px;
    opacity: 0
}
/*----------------------------------------------------------- COLOR --------------------------------------------------*/

.yellow{color: #e0a800}
.green{color: #44e07c}
.blue{color: #5c69e0}
.red{color: #e0522a}

/*----------------------------------------------------------- IMAGE --------------------------------------------------*/
.containerHeadImage{
    padding: .25rem;
    margin-bottom: .25rem;
    position: absolute;
    height: auto;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    top: -10px;
    left: 0;
    transition: left ease 2s;
    z-index: 1;
}

.containerHeadImage:hover {
    left: -200px
}

.imageFoot{
    padding: .25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .25rem;
    height: auto;
    width: auto;
    max-width: 35px;
    max-height: 35px;
}

.imageCode{
    padding: .25rem;
    margin: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: 110px;
    width: 110px;
}

/* --------------------------------------------------------- EMAIL ---------------------------------------------------*/
.labelEmail {
    color: #212529 !important;
    font-size: 1rem;
    font-weight: bold
}

/*--------------------------------------------------------- SOCIAL ---------------------------------------------------*/
.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 40px;
    line-height: 1.33;
    margin: 25px;
    background-color: #dee3e5
}

.btn-circle:hover {
    transform: scale(1.1);
    background-color: #fff
}

/*--------------------------------------------------------- OVERWRITE ------------------------------------------------*/
.list-group-item {
    background-color: transparent;
}

.md-input:focus {
    border-color: #212529 !important;
    border-width: 0 0 0.2px;
}

a:hover {
    color: transparent;
    text-decoration: none
}