/*FONT*/
@font-face {
    font-family: myFirstFont;
    src: url(SansationLight.woff);
}
* {font-family: myFirstFont;}

/*BODY*/
html, body{
    margin: 0;
    padding: 0;
}

.head{
    text-align: center!important;
    padding: 2rem;
    background-color: #e9ecef;
}

.foot{
    text-align: center!important;
    padding: 0.2rem;
    background-color: #e9ecef;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

/*CONTAINER*/
.dataBodyContainer {
    background-color: #b6dff1;
    height: 75vh;
    position: relative;
    overflow-y: auto;
}
.dataBodyView {
    padding: 10px;
}
.dataBodyView.ng-animate {
    transition: all ease 0.5s;
    position: absolute;
}
.dataBodyView.ng-enter {
    left: 200px;
    opacity: 0;
}
.dataBodyView.ng-leave,
.dataBodyView.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}
.dataBodyView.ng-leave.ng-leave-active {
    left: -200px;
    opacity: 0;
}

/*BOTTONI SOCIAL*/
.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 40px;
    line-height: 1.33;
    margin: 10px;
    background-color: #dee3e5;
}

.btn-circle:hover {
    transform: scale(1.1);
    background-color: #fff;
}